#login_baby
{
    margin: 0;
    padding: 0;
    background-image: url("../img/bgimg.jpg");
    width: 1200px;
    height: 486px;
    background-repeat:repeat;
}

#bigBox
{
    margin: 170px 0 auto;
    padding: 20px 50px;
    background-color: #00000090;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    align:middle;
}

#bigBox h1
{
    color: white;
    font-family: "Comic Sans MS";
}

#bigBox .inputBox
{
    margin-top:20px;
}

#bigBox .inputBox .inputText
{
    margin-top:20px;
}

#bigBox .inputBox .inputText input
{
    border: 0;
    padding: 10px 10px;
    border-bottom: 1px solid white;
    background-color: #00000000;
    color: white;
}

#bigBox .loginButton
{
    margin-right:30px;
    margin-top:40px;
    width:100px;
    height:25px;
    color: white;
    border: 0;
    border-radius: 20px;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);	/* 按钮颜色 */
}

.m-left{
    margin-left: 60px;

}
.register{
    position: absolute;
    margin-bottom: 1000px;
    right: 10px;
    color: #ffffff;
    /*left:  calc(5% - 200px);*/
    margin-right:950px;
    /*bottom: 240px;*/
    font-size: 13px;
}

.forget_pwd{
    position: absolute;
    margin-bottom: 1000px;
    right: 10px;
    color: #ffffff;
    /*left:  calc(5% - 200px);*/
    margin-right:800px;
    /*bottom: 240px;*/
    font-size: 13px;
}

