<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta name="content-type" charset="UTF-8">
    <link href="{{ url_for('static', filename='CSS/login.css') }}" rel="stylesheet">
</head>
<body id="login_baby">

<div id="bigBox">
<h1>Login</h1>

<form id="loginform" method="post">
    <div class="inputBox">
        <div class="inputText">
            <input type="text" id="username" name="username" placeholder="Username" value="">
        </div>
        <div class="inputText">
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
    </div>
    <div>
        <input type="submit" id="login" name="login" value="Login" class="loginButton m-left">
        <input type="reset" id="reset" name="reset" value="Reset" class="loginButton"><br>
    </div>
    <div><a href="register">Register an account</a></div>
</form>
</div>
</body>
</html>
