<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='CSS/register.css') }}" rel="stylesheet" >
</head>
<body>
<div id="bigBox">
<h1>user register</h1>
    <form method="POST">
        <div class="inputText">
            <input type="text" name="username" placeholder="username">
        </div>
        <div class="inputText">
        <input type="password" name="password" placeholder="password">
        </div>
    <input type="submit" value="Submit">
    <input type="reset" value="reset">
    </form>
</div>
</body>
</html>